.landing-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #fff;
    z-index: 0;
}

.main-title {
    font-size: 8vw;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

.title-large {
    display: block;
    font-size: 1em;
    letter-spacing: 15px;
    margin: 0 0 -0.5em;
    margin-right: 50px;
    font-family: 'MyCustomFont', sans-serif;
    flex-basis: 45%
}

.text-with-border {
    color: black;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.subtitle {
    font-style: italic;
    font-size: 1.2vw;
    letter-spacing: 2px;
    opacity: 0.85;
    max-width: 60%;
    margin: 1em auto;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    opacity: 0;
}

.row1 {
    position: relative;
    right: 150%;
}

.row2 {
    position: relative;
    left: 150%;
}

.row3 {
    position: relative;
    right: 150%;
}

@media (max-width: 600px) {
    .title-row {
        flex-direction: column;
        align-items: center;
        opacity: 1;
    }

    .title-large {
        font-size: 15vw;
        letter-spacing: 10px;
        margin: 0 0 10px;
    }

    .subtitle {
        font-size: 4vw;
        max-width: 100%;
    }

    .row1, .row3 {
        right: 0;
    }
    
    .row2 {
        left: 0;
    }

    .span-row-right, .span-row-left {
        position: relative;
    }
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../../fonts/Think.otf') format('opentype'),
        url('../../fonts/Think.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}