.menu-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(50%);
}

.menu {
    position: relative;
    white-space: nowrap;
}

.menuItem {
    position: absolute;
    top: 0;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.menuItem.active {
    z-index: 2;
    font-weight: bold;
}
