.mobile-not-supported {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.centered-image {
    max-width: 60%;
    height: auto;
}

.white-text {
    max-width: 70%;
    color: white;
    text-align: center;
    margin-top: 20%;
}
