@font-face {
    font-family: 'Think';
    src: url('../../fonts/Think.otf') format('opentype'),
    url('../../fonts/Think.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pageTitle {
    text-align: center;
    font-family: 'Think', sans-serif;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 5px;
    user-select: none;
}
