.hint-bottom {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translate(-50%);
}

.hint-bottom img {
    margin: 0 15px;
    cursor: pointer;
    user-select: none;
}

.spacebar {
    height: 50px;
}

.enter {
    height: 100px;
}

.hint-bottom img:active {
    transform: scale(0.9);
}

.hint-bottom span {
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

.hint-top-left {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
}

.hint-top-left img {
    margin: 20px;
    height: 50px;
    cursor: pointer;
    user-select: none;
}

.hint-top-left img:active {
    transform: scale(0.9);
}

.hint-top-left img.escape-pressed {
    transform: scale(0.9);
}

.key-pressed {
    transform: scale(0.9);
}

.hint-legend {
    opacity: 1;
    transition: opacity 1s;
}