.menu-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1200px;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.menuItem {
    flex: 0 0 auto;
    width: 400px;
    font-family: 'Think', sans-serif;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 10px;
    user-select: none;
    text-align: center;
    transition: font-size 0.5s;
}

.menuItem.active {
    z-index: 2;
    font-weight: bold;
    font-size: 80px;
    transition: font-size 0.5s;
    text-align: center;
}
